body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #007bff, #00c3ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}


.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 60%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.crud-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.crud-button:hover {
    transform: scale(1.1);
}

.button-text {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 98%;
    background-color: red;
    padding: 10px;
}

.icon {
    margin-right: 10px;
}